* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: Helvetica, Arial, sans-serif;
}
.container {
	max-width: 1140px;
	margin: auto;
	display: grid;	
}
header {
	background: #fff;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 0.5fr 2fr 0.5fr;
}
header .logo {	
	padding: 10px;
	display: grid;
	justify-content: center;
	align-items: center;	
}
.logo a {
	display: grid;
	justify-content: center;
	align-items: center;	
}

.logo a img {	
	display: inline-block;
	vertical-align: center;
	margin: auto;
	width: 70%;
}
nav {
	
	display: grid;	
	align-items: center;
}
nav ul {
	display: grid;
	grid-gap: 20px;
	list-style: none;
	grid-template-columns: repeat(4,1fr);
	align-items: center;
	justify-content: center;	
	text-transform: uppercase;
}
nav ul li a {
	transition: opacity 0.2s;
	padding: 0.8rem;
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;	
}
nav ul:hover,
nav ul li a:not(:hover) {
	opacity: 0.6;
}
nav ul li a:hover {
	color: #9A1818;
	border-bottom: 3px solid #9A1818;
	
}
header form {	
	display: grid;
	grid-gap: 5px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	grid-template-columns: 4fr 1fr;
}
header form input[type=text] {
	padding: 12px 20px;
	border: none;
	box-shadow: 0 1px 5px rgba(104,104,104,0.8)
}
input[type=button],
input[type=submit] {
	padding: 12px 5px;
	border: none;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background: #9A1818;
	cursor: pointer;
	opacity: 0.8;
	float: right;
}
input[type=button]:hover {
	opacity: 1;
}
.anhslide {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%; 
	max-height: 400px; 
}
.anhslide img {
	width: 100%;
}
.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	opacity: 0.8;
  	transition: 0.8s;
  	top: 39%;
  	width: auto;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 30px;
  	border-radius: 0 3px 3px 0;
}
.prev:hover,
.next:hover {
	transform: scale(1.5);
}
.prev {
	left: 100px;
}
.next {
	right: 100px;
}
.pausebutton {
	cursor: pointer;
	position: absolute;
	transition: 0.8s;
	bottom: 170px;
	right: 115px;
	width: 20px;
	height: 20px;
}
.pausebutton:hover {
	transform: scale(1.2);
}
article .title {
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	min-height: 50px;
	background: #6e2129;
	color: #fff;
	text-transform: uppercase;
}
article {		
	display: grid;
	grid-gap: 2px;
	background: #fff;
}
article .slideshow {	
	max-height: 500px;		
}

article .anh-order {
	width: 100%;
	margin: auto;
	display: none;
	grid-template-columns: 1.5fr 2fr;
}
article .anh-order .anh {
	background: url(imgs/slide1.jpg);
	background-size: cover;
	background-position: center;
	max-height: 400px;
	
}
article .gallery { 	
	margin-top: 10px;	
	padding: 0 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
article .gallery img:not(:hover){
	opacity: 0.8;
}
article .gallery img {
	min-height: 170px;
}
img {	
	max-width: 100%;
}
.anhslide {
	max-width: 100%;
}
form.order {	
	line-height: 3rem;
}
.anh-order h2 {	
	background: #9A1818;
	margin-bottom: 40px;
	color: #fff;
}
form.order label {
	text-align: right;
	margin-bottom: 10px;	
	display: block;
	line-height: 40px;
	width: 30%;
	float: left;
}
form.order input[type=text],
form.order textarea{
	margin-left: 5%;
	margin-bottom: 10px;
	width: 65%;
	float: left;
	padding: 12px 20px;
	resize: none;
}
.feature {
	width: 100%;	
	margin: auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
	'product-a board board'
	'product-b board board';
}
.product {
	padding: 10px 10px;
	display: grid;
	line-height: 30px;
	color: #000;
	text-align: center;	
	background: #fff;
	opacity: 1;
}
.product:hover {
	opacity: 1;
}
.product h3 {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	line-height: 40px;
	color: #901400;
}
.product .btn {
	width: 100%;
	margin: auto;
}
.product .gia {	
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #901400;
}
.product img {
	margin: auto;
	max-width: 200px;
}
.product-a {
	grid-area: product-a;
}
.product-b {
	grid-area: product-b;
}
.board {
	grid-area: board;
}
.board,
.board-full {	
	background: url(imgs/thucdon.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	padding: 50px;
	line-height: 40px;
}
.board h1, 
.board-full h1 {
	line-height: 3rem;
	opacity: 0.8;
	color: #000;
	font-size: 3rem;
	margin-bottom: 1rem;
}
.board p,
.board-full p {
	width: 100%;
	color: #000;
	line-height: 2rem;
	margin-bottom: 1rem;
}
.board-full {
	min-height: 5rem;	
	padding: 70px;
}
a.btn {
	display: block;
	padding: 12px 20px;
	border: none;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background: #6e2129;	
	cursor: pointer;

	text-decoration: none;	
}
a.btn:hover {
	background: #740101;
}
.board a:hover {
	opacity: 1;
}
.thucdon {
	margin: 20px 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
footer {
	text-align: center;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
	color: #fff;
	line-height: 5rem;
	margin-top: 20px;	
	height: 5rem;
	background: #6e2129;
}
/* Style Thực đơn */
form.form-san-pham {
	display: grid;	
	grid-template-columns: 1fr 3fr 1fr 3fr;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
	line-height: 1rem;
	margin: auto;
}
form.form-san-pham label {	
	font-size: 15px;
	text-align: right;
	margin-bottom: 10px;	
	line-height: 20px;
	width: 100%;
	float: left;
}
form.form-san-pham input[type=text],
form.form-san-pham select {
	margin-left: 10px;
	margin-bottom: 10px;
	width: 90%;
	float: left;
	padding: 10px 20px;
}
/* Style Hóa đơn */
table { 
  width: 90%;
  margin: 10px auto; 
  border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #BE3333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
table input {
	border: none;
	line-height: 20px;
	background: none;
}
table input[type=text] {
	padding: 5px;
	width: 100%;
}
table input[class=solg]:not(:disabled) {
	border: 1px dotted #aaa;
}
table input[class=total] {
	font-weight: bold;
	font-size: 18px;
	color: #740101
}
.form-dang-ky {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	padding: 40px;
	grid-gap: 20px;
	line-height: 40px;
}
.form-dang-ky label {
	font-weight: bold;
}
.form-dang-ky input[type=text] {
	padding: 0 30px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.form-dang-ky input[type=submit] {
	grid-column-start: 2;
	padding: 20px;
}
.bao-loi {
	border-radius: 3px;
	border-right: 10px solid #FF8A00;
	opacity: 0.8;
	padding: 0 30px;
	color: #fff;
	background: #D52121;
}
.bao-loi:empty {
	background: none;
	border: none;
}
@font-face {
	font-family: 'Amatic SC';
	src: url(fonts/AmaticSC-Regular.ttf);
}
@font-face {
	font-family: 'Amatic SC Bold';
	src: url(fonts/AmaticSC-Bold.ttf);
	font-weight: bold;
}
@media (max-width: 980px) {	
	.logo img {
		width: 100%;
	}
	nav ul li a {	
	padding: 0.2rem;	
	font-size: 1rem;
}
}
@media(max-width:768px) {
	.anh {
		display: none;
	}	
	body {
		margin: auto;
		width: 100%;
	}		
	header {
		grid-template-columns: 1fr;
		margin-bottom: 10px;
	}
	header form {
		padding: 0;
	}
	.logo a {
		width: 100%;
		margin: auto;
	}
	.logo img {
		width: 20%;
	}
	header ul {
		grid-gap: 10px;
		grid-template-columns: 1fr;
	}
	nav ul li a {	
	padding: 0.5rem;	
	font-size: 1.5rem;
    }
	nav ul li a:hover {
		color: #fff;
		border: none;
		background: #9A1818;
	}
	header form {
		grid-template-columns: 1fr;
	}
	article .slideshow {
		max-height: 300px;				
	}
	.anhslide {
		min-height: 300px;
	}
	.anhslide img {
		max-height: 300px;
	}
    article .anh-order {
    	width: 100%;
    	grid-template-columns: 1fr;
    }
    .anh-order .anh {
    	min-height: 200px;
    }
    article .anh {
    	max-height: 400px;
    	width: 100%;
    }
    .feature {
    	width: 100%;
    	grid-template-columns: 1fr;
    	grid-template-areas: 
    	'product-a product-b'    	
    	'board board';
    }
    form.order input[type=button]{
		width: 100%;
		margin-top: 10px;
	}
	.prev,
	.next {
		display: none;
	}
	.pausebutton {
		position: absolute;
		bottom: -135px;
		right: 10px;
	}
}
@media (max-width: 500px) {
	.thucdon {
		margin: 10px 0;
		grid-template-columns: 1fr;
	}
	article .slideshow {
		max-height: 200px;				
	}
	.pausebutton {
		display: none;
	}
	.anhslide {
		min-height: 200px;
	}
	.anhslide img {
		max-height: 200px;
	}
	form.order {
		padding: 10px;
	}
	form.order label,
	form.order input[type=text],
	form.order textarea,
	form.order select  {
		width: 100%;
		text-align: left;
		margin: 0;
	}
	form.order input[type=button]{
		width: 100%;
		margin-top: 10px;
	}
	.feature {
	 	width: 100%;
    	grid-template-areas: 
    	'board'
    	'product-a'
    	'product-b'    	
    	;
    }
    .board h1 {
    	line-height: 50px;
    }
}


