:root{
	--do: #f71e27;
	--den: #000;
	--nen: #fff5db;
	--bong: 0 3px 10px rgba(104,104,104,0.8);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Quick Sand';
}
body {
	background: var(--nen);
}
img {
	max-width: 100%;
}
.container {
	max-width: 1140px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	'header'
	'article'
	'footer';
}
.header {
	display: grid;
	grid-template-columns: 1fr;
	grid-area: header;
}
.tophead {
	color: #fff;
	text-align: center;
	line-height: 75px;
	font-size: 20px;
	height: 75px;
	background: var(--do);
}
.logo {
	background: var(--den);
	display: grid;
	justify-content: center;
	align-items: center;
	height: 180px;
}
.logo img {
	max-width: 400px;
}
.nav {
	text-align: center;
	border-bottom: 4px double var(--den);
	margin-bottom: 5px;
}
.nav ul li {
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
	text-align: center;
	line-height: 40px;
	list-style: none;
	display: inline-block;
}
.nav ul li a {
	padding: 5px 0;
}
.nav ul li a:hover {
	color: var(--do);
	border-bottom: 2px solid var(--do);
}
ul li a {
	text-decoration: none;
	color: var(--den);
}
.sidebar {
	grid-area: sidebar;
	padding: 20px;
	border-left: 1px solid #ccc;
}
.sidebar ul {
	display: grid;
	grid-gap: 20px;
	list-style: none;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;	
	text-transform: uppercase;
	margin-top: 30px;
}
.sidebar ul li {
	font-size: 18px;
	line-height: 32px;
	list-style-type: square;
	list-style-position: inside;
}
.sidebar ul li:hover {
	border-right: 3px solid var(--do);
}
.sidebar ul li a:hover {
	text-decoration: underline;
	color: var(--do);
}
.article {
	display: grid;
	grid-gap: 20px;
	grid-area: article;
}
.box-1 {
	min-height: 420px;
	background: url(img/box-1.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	
}
.box-1 p {
	line-height: 50px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: right;
	font-size: 43px;
	font-family: 'Pristina';
}
.box-2 {
	padding: 0 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:  
	'product-a infor infor'
	'product-b infor infor';
}
.box {
	display: grid;
	justify-content: center;
	align-items: center;
	box-shadow: var(--bong);
	background: #fff;
}
.box img, 
.meo img {
	max-width: 235px;
	max-height: 235px;
}
.product-a {
	grid-area: product-a;
}
.product-b {
	grid-area: product-b;
}
.infor {
	padding: 50px;
	grid-area: infor;
	background: url(img/box-2.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: var(--bong);
	display: flex;
	flex-direction: column;
	color: #fff;
}
.infor p {
	padding: 20px;
	background: rgba(0,0,0,0.3);
	font-size: 14px;
	line-height: 30px;
}
.separate {
	min-height: 80px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}
.box-3 {
	padding: 0 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
}

.meo {
	align-items: center;
	display: grid;
	text-align: center;
	min-height: 330px;
	background: #fff;
	box-shadow: var(--bong);
	color: #fff;
}
.meo img {
	margin: 10px auto;
}
.meo p {
	line-height: 80px;
	background: #f71e27;
	text-transform: uppercase;
}
.box-4 {
	line-height: 35.2px;
	min-height: 285px;
	background: url(img/box-4.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 22px;
	padding: 80px;
	color: #fff;
}
.box-4:hover {
	opacity: 0.6;
}
.footer {
	margin-top: 10px;
	min-height: 100px;
	grid-area: footer;
	background: var(--den);
	color: #fff;
	font-size: 25px;
	text-align: center;
	line-height: 100px;
}
@media(max-width: 768px) {
	.container {
	padding: 0 5px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	'header'
	'sidebar' 
	'article'
	'footer';
	}
	ul {
		display: grid;
		grid-template-columns: 1fr;
	}
	.sidebar {
		display: none;
	}
	.box-2 {
		padding: 0 20px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:  
		'infor infor'
		'product-a product-b';
	}
}
@media(max-width: 500px) {
	.box-2 {
	grid-template-columns: 1fr;
	grid-template-areas:  
	'infor'
	'product-a'
	'product-b';
	}
}
@font-face {
	font-family: 'Quick Sand';
	src: url("font/Quicksand-Regular.ttf");
}
@font-face {
	font-family: 'Pristina';
	src: url(font/PRISTINA.TTF);
}