* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
body {
	max-width: 100vmin;
	background: #f1f2f7;
}

#header-bg {
	position: relative;
	width: 100vmin;
	height: 100vmax;
	background-image: url(../images/header-bg.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#header-content {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 98, 255, 0.3);
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 96px;
	color: #FFF;
}
#triangle {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 100vmax solid transparent;
	border-left: 100vmin solid rgba(255, 247, 0, 0.1);
	
}
.font-raleway {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}

.font-opensans {
	font-family: 'Open Sans', sans-serif;
	color: #6D9BE7;
	text-align: justify;
}
.header-title {
	font-size: 70px;
}
.header-description {
	font-size: 70px;
}
.header-subtitle {
	border-top: 3px solid #fff;
	margin-top: 10px;
}
.social-contact {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
}
.social-icon {
	width: 100px;
	height: 100px;
	display: flex;
	font-size: 70px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 3px solid #fff;
}
.social-contact a {
	text-decoration: none;
	color: #fff;
	transition: 0.8s;
}
.social-icon a:hover {
	color: red;
}


#avatar {
	border: 20px solid #fff;
	background: #fff url('../images/avatar.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 40em;
	height: 40em;
}

.p-title {
	font-size: 2.5em;
	font-weight: 400;
	text-transform: uppercase;
}
.p-content {
	font-size: 2em;
	font-weight: 100;
	line-height: 2.5em;
}
@media only screen and (orientation: landscape) {
	body {
		max-width: 100vmax;
		overflow-x: hidden;
	}
	#header-bg {
		width: 100vmax;
		height: 100vmin;
		overflow: hidden;
	}
	.social-icon {
		width: 75px;
		height: 75px;
		font-size: 50px;
	}

	#avatar {
		border: 10px solid #fff;
		width: 20em;
		height: 20em;
	}
	.p-title {
		font-size: 1.5em;
		font-weight: 100;
		text-transform: uppercase;
	}
	.p-content {
		font-size: 1em;
	}

} 
